* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(27, 27, 23);
}

nav {
    position: absolute;
    position: fixed;
    background-color: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Press Start 2P', cursive;
    height: 10vh;
    transition: 0.4s ease-in-out;
    z-index: 1;
}

.logo {
    color: white;
    font-size: 20px;
    font-weight: 400;
}
.logo a {
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    background: linear-gradient(to right, rgb(219, 200, 23)50%, rgb(179, 182, 8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}
.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.menu {
    display: flex;
    font-size: 12px;
    opacity: 0.9;
    margin-right: 80px;
    transition: 0.5s ease-in;
    font-size: 9px;
    font-weight: 400;
}

.menu li a {
    padding: 20px;
    transition: 0.3s ease;
}

.menu a:hover {
    background-color: rgba(219, 219, 219, 0.199);
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.icons {
    display: flex;
    right: -20px;
}

.icons li {
    margin: 20px;
    
}

.icons a {
    color: rgb(189, 177, 7, 0.8);
    font-size: 25px;
}

.icons a:hover {
    color: white;
}

.toggle {
    cursor: pointer;
    display: none;
}

.toggle div{
    width: 20px;
    height: 2px;
    background-color: white;
    margin: 5px;
    transition: 0.5s ease-in-out;
}

.l1 p {
    margin: 150px;
}


/* ************ PARALLAX BG ********** */

    .parallax-bg {
        background: linear-gradient(to bottom, rgba(0, 255, 255, 0.251)5%, rgba(2, 1, 2, 0.2)30%);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 120vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-title {
        margin-top: -3em;
        font-size: 4em;
        font-family: 'Press Start 2P', cursive;
        letter-spacing: 10px;
        background: linear-gradient(to right, rgb(233, 218, 10)40%, rgba(61, 66, 5, 0.473));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .sub-lines-0 {
        margin-top: 20px;
        font-size: 20px;
        -webkit-text-fill-color: whitesmoke;
        font-family: 'Spartan', sans-serif;
    }
    
    .sub-lines-1 {
        position: absolute;
        margin: 0;        
        top: 50em;
        font-size: 11px;
        -webkit-text-fill-color: whitesmoke;
        font-family: 'Spartan', sans-serif;
    }

    .sub-lines-1 span {
        font-weight: 900;
        padding: 5px 5px 3px 5px;
        border-radius: 5px;
        background-color: rgba(51, 48, 38, 0.753);
    }

/* ***************** 1st SECTION ********************* */

.main-container {
    position: relative;
    /* margin: 20px; */
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "logos logos"
        "head myName"
        "head myName"
        "head popular"
        "gameSec gameSec"
        "contact contact"
        "footer footer"
    ;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    
}
.logos {
    margin-top: 15px;
    background-color:rgba(247, 247, 247, 0.082);
    border-radius: 10px;
    width: 100%;
    height: 7vh;
    grid-area: logos;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logos img {
    flex: 1;
    max-width: 150px;
    max-height: 120px;
    height: 110px;    
    margin: 0px 20px 0px 20px;
    filter: drop-shadow(15px 30px 15px black);
}

.head {
    margin: -30px 0px 20px 3em;
    grid-area: head;
    background-color: rgba(34, 29, 29, 0.815);
    border-radius: 5px;
    max-height: 90vh;
    max-width: 550px;
    width: 80%;
    box-shadow: 10px 12px 10px rgba(7, 7, 6, 0.651);
    overflow: hidden;
}
.head img {
    position: absolute;
    max-height: 25em;
    transform: scaleX(-1);
    margin-left: -140px;
    left: 0;
    top: 5em;
    opacity: 0.7;
    filter: drop-shadow(-30px 40px 20px black);
}

.head .bg {
    
    background: linear-gradient(rgba(245, 4, 4, 0.445), rgba(61, 85, 61, 0.144)),url("img/wall2.jpeg");
    background-size: 100% 150px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px 5px 0px 0px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 12px;
    color: white;
    line-height: 30px;
    letter-spacing: 5px;
}
.head .bg h1{
    color: rgba(245, 241, 8, 0.815);
    font-size: 30px;
    
}
.head .detail {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    font-size: 15px;
    text-align: justify;
    color: rgb(243, 232, 232);
}
.myName {
    grid-area: myName;
    background-color: rgba(34, 29, 29, 0.815);
    box-shadow: 10px 12px 10px rgba(7, 7, 6, 0.651);
    border-radius: 5px;
    max-height: 350px;
    max-width: 600px;
    margin: 0;
}

.myName .profile-bg {
    background: linear-gradient(rgba(241, 6, 6, 0),rgba(17, 4, 4, 0)),url('img/morning_mountain.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 101%;
    background-position: center;
    border-radius: 5px 5px 0px 0px;
    height: 20vh;
}

.myName .detail {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    font-size: 15px;
    text-align: justify;
    color: rgb(243, 232, 232);
}
.popular {
    position: relative;
    grid-area: popular;
    background-color: rgba(68, 62, 62, 0.815);
    box-shadow: 10px 12px 10px rgba(7, 7, 6, 0.651);
    max-height: 50em;
    max-width: 800px;
    width: 60%;
    margin: -60px 0px 20px 0px;
}
.popular .horse {
    position: absolute;
    right: -8em;
    top: 3em;
    max-height: 15em;
    opacity: 0.9;
}
.popular .title {
    background-color: rgba(34, 29, 29, 0.815);
    height: 50px;
}

.popular .title h4 {
    padding: 10px;
    color: rgba(20, 211, 211, 0.966);
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
}

.popular .new-container {
    display: flex;
    border-bottom:1px solid rgba(255, 255, 255, 0.781);
    transition: 0.3s ease-in-out;
}

.new-container .box-1, .box-2 {
    flex: 1;
    width: 100%;
    height: 50px;
    padding: 10px;
    color: rgba(255, 255, 255, 0.781);
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
.new-container img {
    height: 30px;
    width: 30%;
    opacity: 0.8;
}

.new-container:hover {
    background-color: rgba(59, 243, 243, 0.342);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.gameSec {
    grid-area: gameSec;
    background-color: rgb(240, 8, 201);
}
.contact {
    grid-area: contact;
    background-color: rgb(247, 4, 4);
}

.footer {
    grid-area: footer;
    background-color: rgb(240, 159, 10);
}

/* ***************** 2nd SECTION ********************* */


@media only screen and (max-width: 700px) {
    .menu {
        /* background-color: rgba(47, 47, 48, 0.445); */
        position: absolute;
        width: 60%;
        top: 30px;
        right: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
        transform: translateY(-250px);     
        line-height: 30px;
    }

    .menu li a{
        margin: 0;
        width: 100%;
        padding: 20px;
        transition: 0.1s ease-in-out;
        font-size: 10px;
    }

    .menu li a:hover {        
        padding: 15px 50px 15px 50px;
        background-color: rgb(78, 78, 76, 0.3);
    }

    .toggle {
        display: block;
        margin-left: 90px;
    }
    .activeMenu {
        transform: translateY(40px);
    }
}

@media only screen and (max-width: 650px) {
    .parallax-bg .main-title {
        font-size: 40px;
    }
    .parallax-bg .sub-lines-0 {
        font-size: 15px;
    }
    .logos img{
        max-width: 6em;
    }
    .main-container {
        display: block;
        margin: 0;
    }
    .head {
        margin-top: 8em;
        max-width: 26em;
        margin-left: 60px;
    }
    .myName {
        max-width: 26em;
        height: 50vh;
        margin: 50px 0px 50px 60px;
    }

    .popular {
        padding: 0;
        max-width: 20em;
        margin: 50px 0px 50px 70px;
    }
    .popular .horse {
        right: -140px;
    }
}

.toggleLine .line1 {
    transform: rotate(-35deg) translate(-4px, 5px); 
}

.toggleLine .line2 {
    opacity: 0;
}

.toggleLine .line3 {
    transform: rotate(35deg) translate(-4px, -6px);
}

.scrolled {
    background-color:rgba(13, 230, 238, 0.3);
    /* background: linear-gradient(to top, rgba(0, 0, 0, 0.11)10%, rgba(13, 230, 238, 0.545)); */
    border-top: 1px solid black;
    height: 10vh;
    transition: 0.4s ease-in-out;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 40px;
    -webkit-box-shadow: inset 7px 2px 10px rgba(13, 230, 238, 0.3);
}

 
